.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: aqua;
  font-style: oblique;
}
.board-container{
  margin: 20px;
  background-color: blueviolet;
}


